*.iml
.idea/
target/
*.class
.vertx

*/src/main/asciidoc
*/src/main/generated
*/src/main/resources/*-js

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
