<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grc.item.mapper.ItemMapper">

    <!--  根据id查询商品 -->
    <select id="getItemById" parameterType="java.lang.Long" resultType="com.grc.item.domain.Item">
        SELECT * FROM tb_item WHERE id = #{itemId}
    </select>



</mapper>