<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grc.item.mapper.ItemMapper">

    <!--  根据id查询商品 -->
    <select id="getItemById" parameterType="java.lang.Long" resultType="item">
        SELECT id,title,sell_point AS sellPoint ,
        price,num,barcode,image,cid,status,created,updated
        FROM tb_item WHERE id = #{itemId}
    </select>

    <!--  查询商品列表 -->
    <select id="getItemsPageable" resultType="item">
        SELECT id,title,sell_point AS sellPoint ,
        price,num,barcode,image,cid,status,created,updated
        FROM tb_item
    </select>

    <!--  选择商品类目 -->
    <select id="getItemCategroy" parameterType="java.lang.Long" resultType="itemCategory">
        SELECT id,parent_id AS parentId,name,status,
        sort_order AS sortOrder,is_parent AS isParent,
        created,updated FROM tb_item_cat
        WHERE parent_id = #{parentId}
    </select>

    <!--  新增商品 -->
    <insert id="insertItem" parameterType="item">
        INSERT INTO tb_item (id, title, sell_point, price, num, barcode, image, cid, status, created, updated )
        VALUES (#{id}, #{title}, #{sellPoint},  #{price}, #{num}, #{barcode},#{image}, #{cid},1,now(),now())
    </insert>

    <!--  新增商品描述 -->
    <insert id="insertItemDesc" parameterType="itemDesc">
        INSERT INTO tb_item_desc(item_id, item_desc, created, updated )
        VALUES (#{itemId}, #{itemDesc},now(),now())
    </insert>

    <!--  新增商品规格参数信息 -->
    <insert id="insertItemParamMsg" parameterType="itemParamMsg">
        INSERT INTO tb_item_param_item(item_id, param_data, created, updated )
        VALUES (#{itemId}, #{paramData},now(),now())
    </insert>

    <!-- 查询商品规格参数模板列表 -->
    <select id="getParamsPageable" resultType="java.util.Map">
        SELECT param.id , param.item_cat_id AS itemCatId , cat.name AS itemCatName,
        param.param_data AS paramData , param.created , param.updated
        FROM tb_item_param param , tb_item_cat cat
        WHERE param.item_cat_id = cat.id
    </select>

    <!--  删除规格参数模板 -->
    <select id="deleteParams" parameterType="java.lang.Long">
        DELETE FROM tb_item_param WHERE id = #{id}
    </select>

    <!--  判断选择的类目是否已经添加过规格模板 -->
    <select id="queryItemCatId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT COUNT(*) FROM tb_item_param WHERE item_cat_id = #{catId}
    </select>

    <!--  获取规格模板（根据类目id） -->
    <select id="getExistParam" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT param_data AS paramData FROM tb_item_param WHERE item_cat_id = #{catId}
    </select>

    <!--  新增商品类目的规格模板 -->
    <insert id="insertParam" parameterType="itemParam">
        INSERT INTO tb_item_param(item_cat_id, param_data, created, updated )
        VALUES (#{cid}, #{paramData},now(),now())
    </insert>

    <!--  获取商品描述信息 -->
    <select id="loadItemDesc" parameterType="java.lang.Long" resultType="itemDesc">
        SELECT item_id AS itemId,item_desc AS itemDesc,created,updated FROM tb_item_desc WHERE item_id = #{itemId}
    </select>

    <!--  获取商品的规格参数信息 -->
    <select id="loadItemParam" parameterType="java.lang.Long" resultType="itemParam">
        SELECT msg.id,msg.item_id AS itemId,msg.param_data AS paramData,msg.created,msg.updated
        FROM tb_item_param_item msg
        WHERE msg.item_id = #{itemId}
    </select>
</mapper>